<html>
    {% load static %}
    <head>
        {% include 'html/header.html' %}
        <style>
            body {
                background-image: url("{% static 'img/background1.jpg' %}");
                background-size: cover;
                padding: 20px;
            }
        </style>
    </head>
    <script>
        $(function() {
            // Load dashboard page
            $("#main").load("{% static 'html/dashboard.html' %}");

            $("#dashboard").click(function() {
                $("#main").load("{% static 'html/dashboard.html' %}");
            });

            $("#mode_switch").click(function() {
                $("#main").load("{% static 'html/mode_switch.html' %}");
            });

            $("#wan").click(function() {
                alert("wan");
            });

            $("#lan").click(function() {
                alert("lan");
            });

            $("#firewall").click(function() {
                alert("firewall");
            });

            $("#system_setting").click(function() {
                alert("system_setting");
            });

            $("#network_tool").click(function() {
                alert("network_tool");
            });
        });
    </script>
    <body>
        <div class="container fluid">
            <div class="row">
                {% include 'html/nav.html' %}
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-4">
                        {% include 'html/left_nav.html' %}
                    </div>
                    <div class="col-8">
                        <div id="main"></div>
                    </div>
                </div>                
            </div>
        </div>
    </body>
</html>