<html>
    {% load static %}
    {% include 'html/header.html' %}
    <head>
        <style>
            .container-bg {
                background: rgb(255, 255, 255);
            }
        </style>
    </head>
    <body>
        <div class="container-bg">
            <div class="container">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                        {% include 'html/main.html' %}
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        <div>
    </body>
</html>